<!--会員情報編集画面(public)-->
<div class="container">

  <div class="row mt-5 mb-5 justify-content-between">
    <div class="col-md-3">
      <h4 class="text-dark text-center title_bar">会員情報編集</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
  </div>

  <!--バリデーション-->
  <%= render 'temp/errortext', obj: @customer %>

  <div class = "row mt-3">

    <div class="col-md-10">

      <%= form_with model: @customer, url: customers_infomation_path do |f| %>

        <div class="form-group row">
          <label for="inputNmame", class="col-sm-3 col-form-label">氏名</label>
          <%= f.text_field :last_name, id:"inputName", class:"col-sm-3 mr-5 form-control" %>
          <%= f.text_field :first_name, id:"inputName", class:"col-sm-3 mr-5 form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputNmamekana", class="col-sm-3 col-form-label">フリガナ</label>
          <%= f.text_field :last_name_kana, id:"inputNamekana", class:"col-sm-3 mr-5 form-control" %>
          <%= f.text_field :first_name_kana, id:"inputNamekana", class:"col-sm-3 mr-5 form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputPostalCode", class="col-sm-3 col-form-label">郵便番号</label>
          <%= f.text_field :postal_code, id:"inputPostalCode", class:"col-sm-3 form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputAdress", class="col-sm-3 col-form-label">住所</label>
          <%= f.text_field :address, id:"inputAdress", class:"col-sm-8 form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputTelephone", class="col-sm-3 col-form-label">電話番号</label>
          <%= f.text_field :telephone_number, id:"inputTelephone", class:"col-sm-3 form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputEmail", class="col-sm-3 col-form-label">メールアドレス</label>
          <%= f.text_field :email, id:"inputEmail", class:"col-sm-3 form-control" %>
        </div>

        <div class="form-group row mt-4">
          <label class="col-sm-3 col-form-label"></label>
          <%= f.submit "編集内容を保存", class:"col-sm-3 mr-5 btn btn-success font-weight-bold" %>
          <%= link_to "退会する", customers_confirm_path, class:"col-sm-2 ml-5 btn btn-danger font-weight-bold" %>
        </div>

      <% end %>
    </div>
  </div>

</div>