<!--商品編集画面(admin)-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h4>商品編集</h4>
      <%= form_with model: [:admin ,@item] do |f| %>
        <div class="form-group">
          <label for="inputImage">商品画像</label>
          <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*", class:"form-control-file item_image"%>
        </div>

        <div class="form-group">
          <label for="inputName">商品名</label>
          <%= f.text_field :name, placeholder: "商品名", id:"inputName", class:"form-control item_name" %>
        </div>

        <div class="form-group">
          <label for="inputIntroduction">商品説明</label>
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", id:"inputIntroduction", class:"form-control introduction"  %>
        </div>

        <!--ジャンル選択機能-->

        <div class="form-group">
          <label for="inputPrice">税抜価格</label>
          <%= f.number_field :price, placeholder: "1000", id:"inputPrice", class:"form-control price"  %>
        </div>

        <!--販売ステータ選択機能-->

        <%= f.submit "変更を保存", class:"btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>