<!--商品一覧-->

<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5">
      <h4 class="text-center">商品一覧</h4>
    </div>
    <div class="col-md-3 mt-5">
    </div>
    <div class="col-md-5 mt-5">
      <%= link_to new_admin_item_path, class:'float-right' do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">

    <div class="col-md-8 offset-md-1 mt-3">
      <table class="table">
        <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <!--<th>ジャンル</th>-->
              <!--<th>ステータス</th>-->
            </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <!--id-->
                <%= item.id %>
              </td>

              <td>
                <!--name-->
                <%= link_to admin_item_path(item.id) do %>
                  <%= item.name %>
                <% end
                %>
              </td>
              <td>
                <!--price-->
                <%= item.price %>
              </td>

              <!--<td>-->
                <!--genre-->
              <!--</td>-->

              <!--<td>-->
                <!--is_active-->
              <!--</td>-->
            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
  </div>
</div>
<%= paginate @items %>