<div class="container">

  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="text-dark text-center bg-light">管理者ログイン</h4>
    </div>
    <div class="col-md-2 mt-5"></div>
    <div class="col-md-5 mt-5"></div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-5">

      <%= form_with model: @admin, url: admin_session_path do |f| %>

        <div class="form-group row">
          <label for="inputEmail", class="col-sm-4 col-form-label">メールアドレス</label>
          <%= f.email_field :email, id:"inputEmail", placeholder: "sample@exanple.com",class:"col form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputPassward", class="col-sm-4 col-form-label">パスワード</label>
          <%= f.password_field :password, id:"inputPassward", class:"col form-control" %>
        </div>

        <div class="form-group row">
          <label for="inputPassward", class="col-sm-4 col-form-label"></label>
          <%= f.submit "ログイン", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

    </div>
  </div>
</div>