<!--Top画面(public)-->
<div class="container">

  <div class="row mt-5">
    <!--<div class="col-md-8 offset-md-1">-->
      <!--ジャンル検索用-->
    <!--</div>-->
    <div class="col-md-8 offset-md-1" >
      <div class="d-flex align-items-center justify-content-center" style="height: 400px; background-color: rgba(253,232,191,0.5);">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        館員でない方も商品の閲覧はできますが、<br>
        購入には科人登録が必要になります。<br>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h2 class="font-weight-bold">新着商品</h2>
  </div>

  <div class="row mt-1">

    <% @items.first(4).each do |item| %>
      <div class="col-md-2">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "150x100" %>
        <% end %>
        <%= item.name %></br>
        ￥<%= item.price.to_s(:delimited) %></br>
      </div>
    <% end %>

  </div>

    <div class="row mt-1">
      <div class=" col text-right font-weight-bold">
        <%= link_to "すべての商品を見る >", items_path %>
      </div>
    </div>

</div>