<!--会員詳細画面(admin)-->
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="text-dark text-center title_bar">注文履歴詳細</h4>
    </div>
    <div class="col-md-7 mt-5"></div>
  </div>

  <div class="row mt-3">

    <div class="col-md-8 offset-md-1">
      <table class="table table-borderless">
        <tr>
          <td class="font-weight-bold">購入者</td>
          <td>
            <%= link_to "#{@order.customer.last_name + ' ' + @order.customer.first_name}", admin_customer_path(@order.customer_id) %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold">注文日</td>
          <td>
            <%= '〒' + @order.postal_code + ' ' + @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>

        <tr><td class="font-weight-bold">配送先</td><td><%= @order.postal_code %></td></tr>

        <tr><td class="font-weight-bold">支払方法</td><td><%= @order.payment_method_i18n %></td></tr>

        <!--<tr><td>注文ステータス</td><td>########</td></tr>-->

      </table>
    </div>
  </div>

  <div class="row">
    <!--注文商品表(製造ステータス更新付き)-->
    <div class="col-md-8 offset-md-1">
      <table class="table">
        <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <!--<th>製作ステータス</th>-->
            </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @order_items.each do |order_item| %>
            <tr>
              <td>
                <!--order_item.item.name-->
                <%= order_item.item.name %>
              </td>

              <td>
                <!--unit_price-->
                <%= order_item.unit_price %>
              </td>

              <td>
                <!--quantity-->
                <%= order_item.quantity %>
              </td>

              <td>
                <!--= unit_price x quantity-->
                <%= order_item.unit_price * order_item.quantity %>
                <% sum += (order_item.unit_price * order_item.quantity) %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tr><td class="font-weight-bold">商品合計</td><td><%= sum.to_s(:delimited) + '円' %></td></tr>
        <tr><td class="font-weight-bold">送料</td><td><%= @order.shipping_cost.to_s(:delimited) + '円' %></td></tr>
        <tr><td class="font-weight-bold">請求金額合計</td><td class="font-weight-bold"><%= (@order.amount_paid).to_s(:delimited) + '円' %></td></tr>
      </table>
    </div>
  </div>

</div>