<!--会員詳細画面(admin)-->
<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>

  <div class="row">

    <div class="col-md-8 offset-md-1">
      <table class="table table-borderless">
        <tr>
          <td>購入者</td>
          <td>
            <%= link_to "#{@order.customer.last_name + ' ' + @order.customer.first_name}", admin_path %>
          </td>
        </tr>

        <tr><td>注文日</td></td><td><%= @order.create_at %></td></tr>

        <tr><td>配送先</td><td><%= @order.postal_code %></td></tr>

        <tr><td>支払方法</td><td><%= @order.payment_method %></td></tr>

        <!--<tr><td>注文ステータス</td><td>########</td></tr>-->

      </table>
    </div>
  </div>

  <div class="row">
    <!--注文商品表(製造ステータス更新付き)-->
    <div class="col-md-8 offset-md-1">
      <table class="table">
        <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <!--<th>製作ステータス</th>-->
            </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td>
                <!--order_item.item.name-->
                <%= order_item.item.name %>
              </td>

              <td>
                <!--unit_price-->
                <%= order_item.unit_price %>
              </td>

              <td>
                <!--quantity-->
                <%= order_item.quantity %>
              </td>

              <td>
                <!--= unit_price x quantity-->
                <%= order_item.unit_price * order_item.quantity %>
              </td>

            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
  </div>

</div>