<!--topページ_注文履歴一覧画面(admin)-->

<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="title_bar text-dark text-center">注文履歴一覧</h4>
    </div>
    <div class="col-md-7 mt-5"></div>
  </div>

  <div class="row mt-3">

    <div class="col-md-8 offset-md-1">
      <table class="table">
        <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <!--<th>注文ステータス</th>-->
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <!--create_at-->
                <%= link_to admin_order_path(order.id) do %>
                  <%= order.created_at.to_s(:datetime_jp) %>
                <% end %>
              </td>

              <td>
                <!--customer.name-->
                <%= "#{order.customer.last_name + order.customer.first_name}" %>
              </td>

              <td>
                <!--order.order_items.count-->
                <%= order.order_items.count %>
              </td>

            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
  </div>
</div>
<%= paginate @orders %>