<h2>Sign up</h2>

<%= form_with model: @public, url: admin_session_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%>
  </div>

  <div class="field">
    <%= f.label :last_name_kana%><br />
    <%= f.text_field :last_name_kana%>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name ,autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :first_name_kana %><br />
    <%= f.text_field :first_name_kana %>
  </div>



  <div class="field">
    <%= f.label :email %><br />
     <%= f.email_field :email,  autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


<%= render "public/shared/links" %>
