<!--注文履歴一覧画面(public)-->
<div class="container">

  <div class="row">
    <div class="col-md-4 mt-5 mb-5">
      <h4 class="text-dark text-center title_bar">注文履歴一覧</h4>
    </div>
    <div class="col-md-1 mt-5"></div>
    <div class="col-md-5 mt-5"></div>
  </div>


  <div class = "row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">注文日</th>
            <th scope="col">配送先</th>
            <th scope="col">注文商品</th>
            <th scope="col">支払金額</th>
            <!--<th scope="col">ステータス</th>-->
            <th scope="col">注文詳細</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.created_at.to_s(:datetime_jp) %></td>
            <td>
              <%= '〒' + order.postal_code %></br>
              <%= order.address %></br>
              <%= order.name %>
            </td>
            <td>
              <% @order_items.each do |order_item| %>
                <% if order_item.order_id == order.id %>
                  <%= order_item.item.name %></br>
                <% end %>
              <% end %>
            </td>
            <td><%= (order.amount_paid).to_s(:delimited) + '円' %></td>
            <td>
              <%= link_to "表示する", order_path(order.id), class: "btn btn-primary font-weight-bold" %>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>

</div>