<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "商品追加", new_admin_item_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "ログイン", new_admin_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
