<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
<!------------------------------------------------------------------------------------------------------------>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-3" href="/"><%= image_tag('ec_logo.png') %></a>
        <% if customer_signed_in? %>
          <p>ようこそ、<%= current_customer.last_name %>さん！</p>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class = "nav-item">
                <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark m-1" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class = "nav-item">
                <%= link_to "マイページ", customers_mypage_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "商品一覧", items_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "カート", cart_items_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark m-1" %>
              </li>
            <% else %>
              <li class = "nav-item">
                <%= link_to "About", about_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark m-1" %>
              </li>
              <li class = "nav-item">
                <%= link_to "#ログイン(admin)", new_admin_session_path, class: "btn btn-outline-dark m-1" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
<!------------------------------------------------------------------------------------------------------------>
    </header>
    <%= yield %>
  </body>
</html>
