<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <li>
          <%= link_to "商品一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "会員一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "注文履歴一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "ジャンル一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", admin_items_path %>
        </li>
        <li>
          <%= link_to "商品一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "新規登録", admin_items_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_admin_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
